/*div {
  display: flex;
  flex-direction: column;
  min-height: auto;
}*/

main {
  flex: 1;
  
}
.brand {
  font-family: "Great Vibes", cursive;
}

/*nav*/
nav {

  margin: 5% 0;

}

nav ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  background-color: #42414151;



}

nav ul li {
  list-style: none;

}


nav ul li a {
  text-decoration: none;
  font-size: 20px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: rgb(255, 20, 147);
  transition: color 0.3;
}

.active:hover {
  color: #2be246;
 
}

.active {

  font-weight: bold;
}
/* Media query para disposición de columna */
@media screen and (max-width: 500px) {
  nav ul {
    flex-direction: column;
    height: auto;
  }

  nav ul li {
    margin-bottom: 10px; /* Espaciado entre elementos de la lista */
  }
}
  

